@charset "utf-8";
@import url("sanitize.css");

/*確認用
border:solid 3px red;*/



html{
    color: #333333;
    font-family: YuGothic,medium;
    font-weight: 500;
}

.header-link{
    text-decoration: none;
    transition: all 1s;
}

.header-link li a{
    line-height:65px;
    display: block;
}

li .header-link:hover{
    background-color:rgb(199, 190, 190);
    padding:20px;
}


header{
    height:75px;
    width: 100%;
    background-color:#FFFFFF;
    box-shadow:0px 3px 6px  rgba(0,0,0,0.16);/*未完成*/
    border: solid 2px rgba(0,0,0,0.16);
    position:fixed;
    z-index:10;
}

.header-container{
    display: flex;
    justify-content: space-between;
}

.header-container img{
    /*ヘッダーのロゴ*/
    margin:23px 0 25px 0;
    margin-left:250px;
    display: flex;
}

.header-container h1{
    margin-left:250px;
    margin-right: 727px;
}

/*タブレットサイズから改行するように設定*/
.br-sp{
    display:none;
}



ul.parent{
    /*ヘッダーのリスト*/
    list-style-type: none;
    display: flex;
    flex-direction:row;
    margin-right:100px;
}

.parent>li{
    margin:12px 48px 16px 0;
    font-size:18px;
}

ul .parent h2{
    margin-right: 727px;
}

.body-top{
    margin-bottom:100px;
    position: relative;
}

.body-top-img img{
    /*ネコのトップ画像*/
    width:100%;
    height:auto;
}

.body-logo{
    /*CATの大ロゴ*/
    position: absolute;
    top:300px;
    right:900px;
}

.same-width{
    width:980px;/*ヘッダー以外や背景画像以外の幅を統一する*/
    margin:0 auto;
}

.body-txt-top section h1{
    font-family: YuGothic;
}

.body-txt-top section p{
    font-size:24px;
}

#reigai{
    font-size:24px;
}

.body-txt-top section{
    margin-bottom:100px;
    line-height:45px;
}

.body-container-second{
    height:1440px;
    width:100%;
    background-color:#FCF6F2;
}

.second-block{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.body-container-second-logo p{
    font-size:40px;
    text-align:center;
    padding:100px 0;
}

.second-block-img{
    width:450px;
    height:300px;
    margin-bottom:100px;
}

.second-block-txt{
    display: block;
    width:450px;
    height:300px;
    margin-bottom:100px;
    font-size: 24px;
    line-height:30px;
}

.btn{
    margin-right:80px;
}

.third-block{
    height:800px;
    width:100%;
}

.third-block-logo{
    font-size: 40px;
    line-height:68px;
    text-align: center;
    margin-bottom:100px;
}

.third-block-inner{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content:flex-start;
}

.cat2-1 img{
    height: 300px;
    width:450px;
    margin-right: 80px;
}

.cat2-1 p{
    height:100px;
    width:450px;
    font-size: 20px;
    line-height: 30px;
    margin:50px 0 100px 0;
}

.cat2-2 img{
    height: 300px;
    width:450px;
}

.cat2-2 p{
    height:100px;
    width:450px;
    font-size: 20px;
    line-height: 30px;
    margin:50px 0 100px 0;
}

.background-cat img{
    margin-top:800px;
    height:auto;
    width: 100%;
    margin-bottom:100px;
}

.fourth-inner-block{
    position: relative;
    height:950px;
}

.white-block{
    background-color:rgba(256,256,256,51%);
    height:600px;
    width:600px;
    position: absolute;
    top:1000px;
    right:200px;
}

.white-inner-block{
    width:450px;
    height:450px;
    margin:98px 75px 52px 75px;
}

.white-block p{
    font-size:20px;
    line-height: 34px;
    font-family: YuGothic;
    font-weight: bold;
}

.info-block{
    height:800px;
    width:100%;
    position:static;
}

.info-logo{
    font-size:40px;
    line-height: 68px;
    margin-top:1000px;
    margin-bottom:100px;
    text-align: center;
}

.info-block-detail{
    border-top: 1px solid #777777;
}

.solid{
    color:#AD2727;
    border:solid 1px #AD2727;
    padding:4px 26px 5px 26px;
    margin-right:37px;
}

.date{
    font-size: 16px;
    line-height: 40px;
    font-weight: bold;
    margin-right: 14px;
}

.txt{
    width:718px;
    height:40px;
    display: block;
    float: right;
    margin-top:3px;
}

.footer-container-top{
    background-color: #8E8E8E;
    height:390px;
    width: 100%;
}

.footer-block1{
    width:300px;
    height:190px;
    padding-top:100px;
    margin-right: 55px;
}

.footer-block2{
    width:300px;
    height:190px;
    padding-top:100px;
    margin-right: 55px;
}

.footer-block3{
    width:300px;
    height:190px;
    padding-top:100px;
}

.footer-group{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}

.footer-logo{
    margin-bottom:30px;
    font-size: 16px;
    line-height: 40px;
    color:#FFFFFF;
    font-weight: bold;
    border-bottom:1px solid #ffffff;
}

.footer-txt{
    font-size: 16px;
    line-height: 27px;
    color:#FFFFFF;
}

.footer-container-bottom{
    height:59px;
    width:100%;
    background-color:#6A6A6A;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}

.footer-bottom-block{
    width:95%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;
}

.footer-bottom-logo img{
    /*フッター下部のCAT画像*/
    width:49px;
    height:auto;
    margin:16px 0 15px 250px;
    display: flex;
}

.footer-bottom-txt{
    /*フッター下部のコピーライト*/
    color:#ffffff;
    display: flex;
    margin:auto;
}

/*リンク先ページの設定*/

.cat-body-container{
    width:100%;
    display: flex;
    flex-direction:column;
}

.cat-picture{
    margin:0 auto;
    padding-top:100px;
}

.drawer-list{
    display: none;
}

/*---------------------------Contactの設定---------------------------------*/


.contact-form{
    width:100%;
    height:auto;
    border:solid 1px rgb(231, 230, 230,0);
}

.contact-same-width{
    width:580px;
    margin:0 auto;
}

.form-box-top{
    margin:80px auto 0;
    width:100%;
    height:70px;
    border:solid 2px #333333;
    display: flex;
}

.form-box-top-center{
    margin:0 auto;
    display: flex;
}

.form-logo{
    text-align: center;
    display: flex;
    text-align: center;
}

.cat-img img{
    display:flex;
    width:70px;
    height:70px;
    display: flex;
}

.form-picture img{
    margin-top:50px;
    width:100%;
    height:auto;
}

.contact-from-container{
    background-color:rgb(231, 230, 230);
}

/*ロゴと記入する場所の位置設定*/
.form-innner-container{
    width:90%;
    margin:0 auto;
}

.form-input{
    margin-top:50px;
}
/*inputの幅の調整*/
input{
    width:50%;
}

.form-space{
    margin-right:20px;/*タブレットサイズ以降解除*/
}

.contact-form-textarea{
    width:50%;
    height:150px;
}
/*わかりやすいように必須と任意マークを作る*/
.important{
    margin-left:15px;
    background-color:rgb(233, 23, 19);
    padding:3px;
    color:white;
    font-weight:bold;
    border-radius:3px;
}

.optional{
    margin-left:15px;
    background-color:rgb(24, 24, 194);
    padding:3px;
    color:white;
    font-weight:bold;
    border-radius:3px;
}

.optional2{
    margin-left:15px;
    background-color:rgb(24, 24, 194);
    padding:3px 3px 0 3px;
    color:white;
    font-weight:bold;
    border-radius:3px;
}

textarea{
    /*pタグを外すと要素が浮くのでblockにしている。*/
    display:block;
    margin-top:2px;
}

.submit-button{
    width:100%;
    height:50px;
    background-color:rgba(47, 47, 230, 0.986);
    color:white;
    font-weight: bold;
    font-size: 1.2em;
    box-shadow:0 4px gray;
}

.submit-button:active{
    position:relative;
    top:6px;
    box-shadow: none;
}

/*----------------------------cat1～3の写真----------------------------------*/
.cat-picture img{
    margin:0 auto;
    padding-top:0;
    width:100%;
    height:auto;
}

.cat-same-width{
    width:550px;
    margin:0 auto;
}
/*boxデザインテンプレート*/
.box25{
    position: relative;
    background: #fff0cd;
    box-shadow: 0px 0px 0px 5px #fff0cd;
    border: dashed 2px white;
    padding: 0.2em 0.5em;
    color: #454545;
    margin-top:3em;
}
.box25:after{
    position: absolute;
    content: '';
    right: -7px;
    top: -7px;
    border-width: 0 15px 15px 0;
    border-style: solid;
    border-color: #ffdb88 #fff #ffdb88;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p{
    margin: 0;
    padding: 0;
    font-size:21px;
}

.cat-picture-end{
    margin-bottom:150px;
}

/*確認用
border:solid 3px red;
*/

/*タブレットサイズ*/
@media screen and (max-width: 1179px){
    .body-logo{/*CATの大ロゴ*/
        top:180px;
        right:450px;
    }

    .header-container img{/*ヘッダーのロゴ*/
        margin:23px 0 25px 0;
        margin-right:0px;
        margin-left:150px;
    }

    .br-sp{
        display:block;
    }
    /*sanitizeの設定を一部上書き*/
    h1 {
        font-size: 2em;
        margin: 0.2em;
    }

    .fas.fa-align-justify{
        display: none;
    }

    .same-width{
        width:500px;
    }

    .white-inner-block{
        width:400px;
        height:450px;
        margin:78px 75px 52px 75px;
    }

    .white-block p{
        font-size:17px;
        line-height: 34px;
        font-family: YuGothic;
        font-weight: bold;
    }

    .white-block{/*画像上の白いボックス*/
        background-color:rgba(256,256,256,51%);
        height:450px;
        width:550px;
        position: absolute;
        top:900px;
        right:100px;
    }

    .third-block{
        margin-top:200px;
    }

    .fourth-block{
        padding-top:2000px;
        height:auto;
    }

    .footer-block3{
        display: none;
    }

    .footer-block2{
        width:300px;
    }

    .footer-group{
        height:auto;
    }

    .footer-container-top{
        background-color: #8E8E8E;
        height:500px;
        width: 100%;

    }
    .footer-bottom-txt{
        display: flex;
        margin:0 auto;
    }

    .footer-bottom-block{
        width:95%;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:flex-start;
        margin:0 auto;
    }

    .txt{
        float:none;
        display:inline-block;
        width:500px;
    }

    .footer-container-top{/*余白の調整*/
        margin-top:100px;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:flex-start;
    }

    .info-logo{/*余白の調整*/
        font-size:40px;
        line-height: 68px;
        margin-top:400px;
        margin-bottom:100px;
        text-align: center;
    }

    .footer-bottom-logo img{
        width:49px;
        height:auto;
        margin:16px 0 15px 150px;
        display: flex;
    }

    .drawer-list{
        display: none;
    }

    /*--------------contactの設定------------------*/

    .form-logo{
        text-align: center;
        display: flex;
        text-align: center;
        padding-top:10px;
    }

    .cat-img img{
        display:flex;
        width:70px;
        height:65px;
        display: flex;
    }

    .contact-same-width{
        width:450px;
        margin:0 auto;
    }

    .form-space{
        margin-right:0;/*タブレットサイズ以降解除*/
    }
}
/*確認用
border:solid 3px red;
*/

/*スマホサイズ*/
@media screen and (max-width: 767px) {

    /*ヘッダーのロゴ*/
    .header-container img{
        margin:23px 0 25px 0;
    }

    /*ヘッダーのリスト*/
    ul.parent{
        list-style-type: none;
        display: flex;
        flex-direction:row;
        margin-right:0;
    }

    /*ネコのトップ画像*/
    .body-top-img img{
        width:100%;
        height:auto;
        margin-top:50px;
    }

    /*CATの大ロゴ*/
    .body-logo{
        top:130px;
        right:120px;
    }

    /*ヘッダーのリストを消すように設定*/
    .parent li{
        display: none;
        margin:0;
        font-size:0;
    }

    header{
        height:75px;
        width: 100%;
        background-color:#FFFFFF;
        box-shadow:0px 3px 6px  rgba(0,0,0,0.16);/*未完成*/
        border: solid 2px rgba(0,0,0,0.16);
        justify-content: space-between;
    }

    /*リストボタン*/
    .fas.fa-align-justify{
        font-size:30px;
        opacity:0.9;
        display:block;
        margin-top:5px;
    }

    /*ドロップダウンリストの背景*/
    .drop-down-list{
        font-size: 35px;
        margin:auto 20px 0;
    }

    /*ヘッダーのロゴ*/
    .header-container img{
        margin:23px 0 25px 0;
        margin-right:auto;
    }

    .header-container{
        width:100%;
        height:80%;
    }

    .drawer-list{
        display: flex;
    }

    /*スマートフォンサイズの文字入力幅*/
    .white-block{
        display: none;
    }

    /*スマートフォンサイズの文字入力幅*/
    .same-width{
        width:350px;
    }

    .footer-block1{
        margin:auto;
    }

    .footer-block2{
        display: none;
    }

    .body-txt-top section h1{
        font-family: YuGothic;
        font-size:28px;
        text-align: center;
    }

    .body-txt-top section p{
        font-size:21px;
        line-height:34px;
    }

    #reigai{
        font-size:21px;
        line-height:34px;
    }

    .second-block-txt p{
        display: block;
        width:100%;
        height:300px;
        margin-bottom:100px;
        font-size: 21px;
        line-height:30px;
    }

    .btn{
        margin-right:0;
    }

    .footer-container-top{
        /*余白の調整*/
        margin-top:100px;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:flex-start;
    }

    .info-logo{
        /*余白の調整*/
        font-size:40px;
        line-height: 68px;
        margin-top:300px;
        margin-bottom:100px;
        text-align: center;
    }

    .txt{
        /*infoの文字幅を調整*/
        float:none;
        display:inline-block;
        width:400px;
    }

    .footer-bottom-logo img{
        width:49px;
        height:auto;
        margin:16px 0 15px 0;
        display: flex;
    }

    /*-------------------------------------cat1～3---------------------------*/
    .cat-picture img{
        margin:0 auto;
        padding-top:0;
        width:100%;
        height:auto;
    }

    .cat-same-width{
        width:350px;
        margin:0 auto;
    }

    .box25 p{
        margin: 0;
        padding: 0;
        font-size:18px;
    }
    /*-------------------------スマホサイズのズレの原因除去---------------------------*/
    .second-block-img img{
        width:100%;
    }

    .cat2-1 img{
        height: 300px;
        margin-right:0px;
        width:100%;
    }

    .cat2-2 img{
        height:auto;
        width:100%;
    }

    .cat2-1 p{
        height:100px;
        width:100%;
        font-size: 20px;
        line-height: 30px;
        margin:50px 0 100px 0;
    }

    .cat2-2 p{
        height:100px;
        width:100%;
        font-size: 20px;
        line-height: 30px;
        margin:50px 0 100px 0;
    }

    .btn{
        margin-right:0;
    }

    .footer-block1{
        width:300px;
        height:190px;
        padding-top:100px;
        margin-right:0;
    }

    .footer-block2{
        width:300px;
        height:190px;
        padding-top:100px;
        margin-right:0;
    }

    .footer-block3{
        width:300px;
        height:190px;
        padding-top:100px;
    }

    .txt{
        width:100%;
        height:40px;
        display: block;
        float: right;
        margin-top:3px;
    }

    .same-width{
        width:300;
    }

    .body-txt-top h1{
        font-weight:200;
    }

    .body-txt-top section p{
        font-size:18px;
    }

    #reigai{
        font-size:18px;
    }

    .body-txt-top section{
        margin-bottom:100px;
        line-height:25px;
    }

    .second-block-txt>p{
        font-size:18px;
    }

    .date{
        font-size:15.5px;
    }

    .info-block-detail>p{
        font-size:13px;
    }

    .footer-container-top{
        /*余白の調整*/
        margin-top:0;
        display:flex;
        flex-direction:row;
        flex-wrap: wrap;
        justify-content:flex-start;
    }

    .info-logo{
        /*余白の調整*/
        font-size:40px;
        line-height: 68px;
        margin-top:130px;
        margin-bottom:100px;
        text-align: center;
    }

    .info-block-detail{
        padding-bottom:29px;
    }

    .cat2-1 p{
        height:100px;
        width:100%;
        font-size:18px;
        line-height: 30px;
        margin:50px 0 100px 0;
    }

    .cat2-2 p{
        height:100px;
        width:100%;
        font-size:18px;
        line-height: 30px;
        margin:50px 0 100px 0;
    }

    /*--------------Contact-------------------*/

    .contact-form-textarea{
        width:100%;
        height:150px;
    }

    /*inputの幅の調整*/
    input{
        width:80%;
    }

    .contact-same-width{
        width:400px;
        margin:0 auto;
    }
}
/*iPhone5/SE*/
@media screen and (max-width: 568px){
    .cat-same-width{
        width:300px;
        margin:0 auto;
    }

    .form-box-top-center{
        margin:0 auto;
    }
}